CONNECTLIFE_USERNAME=
CONNECTLIFE_PASSWORD=

DB_HOST=localhost
DB_PORT=3306
DB_SOCKET=
DB_NAME=home_automation
DB_USER=
DB_PASSWORD=

POLL_INTERVAL_SECONDS=600
DASHBOARD_PORT=8081
DASHBOARD_SECRET_KEY=
APP_TIMEZONE=Europe/Budapest
GNUPLOT_BIN=/opt/homebrew/bin/gnuplot
MARIADB_DUMP_BIN=/opt/homebrew/bin/mariadb-dump
DATABASE_BACKUP_DIR=exports
DATABASE_BACKUP_TIME=03:00
DATABASE_BACKUP_KEEP=30

MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=automation-zigbee2mqtt
ZIGBEE2MQTT_BASE_TOPIC=zigbee2mqtt
